.header{
    text-align: center;
}
.h-pic{
    width: 200px;
    border-radius: 50px;
    position: relative;
    padding-top: 20px;
    margin-top: 20px;

}
body{
    background-color: #edecd1;
}

.content{
    padding: 50px;
    margin: 40px;
}

.row{
    display: flex;
    justify-content: space-between;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

.footer{
    background-color: #c7edd4;
    text-align: center;
    padding: 10px;

}
@media screen and (max-width: 700px) {
    .row{
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style-type:disc;
    }
    }